parameters:
    paths:
        - src
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        - src/*/*/Resources
        - tests/sandbox
    ignoreErrors:
      - '#TreeBuilder constructor invoked with 0 parameters#'
      - '#Call to an undefined method [a-zA-Z0-9\\_]+TreeBuilder::root()\(\)#'
